# Bot
BOT_TOKEN=8647736926:AAFD_UT5nfaC0kCXZB1BMB4L0ZC_veKyjvk
MANAGER_TELEGRAM=@manager_username
MANAGER_PHONE=+79000000000

# Database (Supabase PostgreSQL)
# Get this from Supabase: Settings -> Database -> Connection string -> Prisma
DATABASE_URL=postgresql://postgres:[YOUR_PASSWORD]@db.ivjvxksudmxhfskpzmyh.supabase.co:5432/postgres

# Admin (Supabase Client)
NEXT_PUBLIC_SUPABASE_URL=https://ivjvxksudmxhfskpzmyh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2anZ4a3N1ZG14aGZza3B6bXloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzODc0NjMsImV4cCI6MjA5NDk2MzQ2M30.xGOoz_s5SqiUdH64fhwR0-VJiHcZ_6WT56msGYMeUbs
